header {
  background-color: #da0a13;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 5px;
  font-size: 20px;
  height: 500px;
  text-align: center;
}
header div {
  display: inline-block;
  padding: 2px 5px 5px px;
}
.logo1 {
  width: 200px;
  vertical-align: top;
  padding-top: 8px;
}
.options {
  width: 80px;
  vertical-align: top;
  padding-top: 8px;
}
.brand {
  width: 200px;
  vertical-align: top;
  padding-top: 8px;
}
.menu {
  width: 800px;
  vertical-align: top;
  padding-top: 15px;
}
header div ul li {
  display: inline-block;
  width: 20%;
  margin: 0px auto;
}
header div ul li a {
  text-decoration: none;
  color: white;
  width: 30px;
}
.allProd {
  position: absolute;
  top: 165px;
  left: 200px;
}
img {
  width: 900px;
}
